[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kferrone
[access "refs/for/refs/*"]
	read = group user/kferrone
	push = group user/kferrone
	label-Code-Review = -2..+2 group user/kferrone
	label-Verified = -1..+1 group user/kferrone
	rebase = group user/kferrone
	removeReviewer = group user/kferrone
	submit = group user/kferrone
[access "refs/heads/*"]
	read = group user/kferrone
	create = group user/kferrone
	push = +force group user/kferrone
	pushMerge = group user/kferrone
[access "refs/tags/*"]
	push = +force group user/kferrone
	pushTag = group user/kferrone
	pushSignedTag = group user/kferrone
[project]
	description = blah blah blah
